@import url('vendor/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

body {
  background: url('../images/background.png') center;
  padding: 0 20px;
}

h2 {
  text-align: center;
  font-size: 28px;
  margin: 20px;
}

.panel {
  max-width: 500px;
  margin: 20px auto;
}

.list-group-item label {
  width: 90%;
}

.item-text {
  font: 1.4em 'Architects Daughter', cursive;
  position: relative;
  top: -3px;
  left: 3px;
}

.completed {
  color: #999;
  background-color: #f5f5f5;
}

.completed span {
  text-decoration: line-through;
}

.filter {
  background: none;
  border: none;
  color: #337ab7;
}

[data-count]:after {
  content: " (" attr(data-count) ")";
}
