@import url('vendor/bootstrap.min.css');

body {
  background: url('../images/background.png') center;
}

h2 {
  text-align: center;
  font-size: 28px;
  margin: 20px;
}

.panel {
  width: 500px;
  margin: 20px auto;
}

.list-group-item-success span {
  text-decoration: line-through;
}
